[mysqld]
collation-server     = utf8mb4_unicode_ci
character-set-server = utf8mb4
# For older php version which is not compatible with MySQL's new default password plugin
# default-authentication-plugin = mysql_native_password 